.adhyay{

    .heading{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 20px;
        line-height: 50px;
    }

    .shlok-container{
        margin: 10px 0px;
        text-align: center;

        .shlok{
            font-size: 18px;
            color: #ffa500;
            font-weight: bold;
            margin-bottom: 10px;
            line-height: 25px;
        }

        .arth{
            font-size: 18px;
            color: black;
            line-height: 25px;
            font-weight: bold;
        }
    }
}