<div class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-4">
                <a class="logo-text-link" href="/"><h1 class="logo-text">विचार संतांचे</h1></a>
            </div>
            <div class="col-lg-4">
                <p class="footer-title">Mobile Apps</p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.BhagvadGita">Gita (गीता)</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.Dnyaneshwari">Dnyaneshwari (ज्ञानेश्वरी)</a></p>
            </div>
            <div class="col-lg-4">
                <p class="footer-title">Recently Added Apps</p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.ShriRamCharitManas&pli=1">ShriRamCharitManas ((श्रीरामचरितमानस))</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container copyright row">
    <div class="col-lg-6 center-align">
        <a href="https://mauli-tech.netlify.app/" class="insta"> © 2025 - <img src="assets/tech.png"></a>
    </div>
    <div class="col-lg-6 center-align">
        <a href="https://www.instagram.com/sakha_maza_dnyaneshwar/" class="insta"><img class="insta-logo" src="assets/instagram.svg"> Follow @sakha_maza_dnyaneshwar</a>
    </div>
</div>