<app-header></app-header>

<div class="library-container">
    <div class="book-grid">
        <div *ngFor="let book of books" class="book-card" (click)="openBook(book)">
            <img [src]="book.cover" alt="{{ book.title }}" class="book-cover" />
            <h2 class="book-title">{{ book.title }}</h2>
        </div>
    </div>
</div>

<!-- Book Details Modal -->
<div class="modal" *ngIf="selectedBook" @fadeIn>
    <div class="modal-content" @zoomIn>
        <span class="close" (click)="closeBook()">&times;</span>
        <img [src]="selectedBook.cover" alt="{{ selectedBook.title }}" class="book" />
        <h2>{{ selectedBook.title }}</h2>
        <p>{{ selectedBook.description }}</p>
        <button (click)="redirectBook(selectedBook.url)" class="read-button">Read Now</button>
    </div>
</div>

<app-footer></app-footer>