<app-header></app-header>
<div class="container home">
    <div class="gita">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-6">
                <img src="assets/wallpaper.png" class="img">
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <div class="banner">
                    <h1 class="banner-text">सार्थ <br>श्रीमद्भगवद्गीता</h1>
                    <button class="read-btn" (click)="this.router.navigate(['gita'])">Read More</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <div class="banner">
                    <h1 class="banner-text">सार्थ <br>ज्ञानेश्वरी</h1>
                    <button class="read-btn" (click)="this.router.navigate(['dnyaneshwari'])">Read More</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <img src="assets/adhyay18.jpg" class="img">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>