<app-header></app-header>
<div class="container">
  <div class="bg">
    <img src="assets/mauli.jpg" class="img-fluid"/>
  </div>
    <h1 class="heading">ज्ञानेश्वरी</h1>
    <div class="row mb-2">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(1)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय पहिला <br> अर्जुनविषादयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(2)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय दुसरा <br> सांख्ययोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(3)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय तिसरा <br> कर्मयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(4)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय चौथा <br> ज्ञानकर्मसंन्यासयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(5)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय पाचवा <br> कर्मसंन्यासयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(6)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय सहावा <br> आत्मसंयमयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(7)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय सातवा <br> ज्ञानविज्ञानयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(8)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय आठवा <br> अक्षरब्रह्मयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(9)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय नववा <br> राजविद्याराजगुह्ययोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(10)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय दहावा <br> विभूतियोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(11)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय अकरावा <br> विश्वरूपदर्शनयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(12)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय बारावा <br> भक्तियोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(13)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय तेरावा <br> क्षेत्रक्षत्रज्ञविभागयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(14)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय चौदावा <br> गुणत्रयविभागयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(15)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय पंधरावा <br> पुरुषोत्तमयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(16)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय सोळावा <br> दैवासुरसंपद्विभागयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(17)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय सतरावा <br> श्रद्धात्रयविभागयोग</h4>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card my-3" (click)="goToAdhyayPage(18)">
                <img src="assets/adhyay18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title title">अध्याय अठरावा <br> मोक्षसंन्यासयोग</h4>
                </div>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
